body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #64dbfc, #539cf5);
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #0587c4;
    color: white;
    position: sticky;
    top: 0;
}

.home-arrow {
    text-decoration: none;
    font-size: 20px;
    color: white; /* Colore della freccia */
}

header h1 {
    margin: 0;
}

header input {
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border: none;
    border-radius: 5px;
}

header button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    color: #007bb5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover {
    background-color: #005f8c;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#coupon-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
}

.coupon {
    background-color: white;
    border: 2px solid #007bb5;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.19);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.coupon:hover {
    background-color: #e0f7fa;
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#barcode {
    margin-top: 10px;
    text-align: center;
}
.highlight {
    background-color: yellow;
    font-weight: bold;
}
